<!doctype html>
<html lang="en">
<head>
	<title>TASKER</title>
	<link rel="stylesheet" href="/static/tasker.css">
</head>
<body>
	<div class="header">
		<div class="header__layout">
			<a class="header__logo" href="/">TASKER</a>

			{% if is_signet_in %}
			<ul class="navigation">
				<li class="navigation__item"><a class="navigation__anchor" href="/tasks/new">New tasks</a></li>
				<li class="navigation__item">
					<div class="navigation__menu">
						<div class="current-user">
							<img class="current-user__avatar" src="/static/profile.png" alt="Person" width="96" height="96">
							<div class="current-user__name">
								{{ user_name }}
							</div>
						</div>
						<ul class="menu">
							<li class="menu__item"><a class="menu__anchor" href="/pass_change">Change password</a></li>
							<li class="menu__item"><a class="menu__anchor" href="/logout">LOG OUT</a></li>
						</ul>
					</div>
				</li>
			</ul>
			{% else %}
			<ul class="navigation">
				<li class="navigation__item"><a class="navigation__anchor" href="/signup">Sign Up</a></li>
			</ul>
			{% endif %}
		</div>
	</div>
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	<div class="footer">
		<div class="footer__layout">
			Created by Deniss and Tomass
		</div>
	</div>
</body>
</html>